main {
    display: flex;
    align-items: start;
    justify-content: center;
    min-height: 100vh;
    margin-top: 70px;
    margin-bottom: 120px;
}
.info_zone {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 80%;
    width: 35%;
    height: 100%;
    margin: 40px;
}
.info_zone h2 {
    margin: 0 0 15px 0;
}