main {
    display: flex;
    align-items: start;
    justify-content: center;
    min-height: 100vh;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 120px;
}
.list_content {
    width: 100%;
}
ul {
    width: 100%;
    list-style-type: none;
}
li {
    background-color: #77B0AA;
    margin: 10px;
    padding: 10px;
}
a:link {
    color: black;
}